In [1]:
ali = 5
mehmood = 10

In [2]:
type(ali)

int

In [3]:
list = [1,2,34,5,67,8]
type(list)

list

In [4]:
# string
a = "Dani"
a[1]

'a'

In [5]:
dic = {"a":10,"b":12,"c":15}
type(dic)

dict

In [6]:
#tuple  are immutable
tupp = (1,2,3,4,5)
type(tupp)

tuple

In [7]:
tupp[0]

1

In [8]:
tupp[0]=10

TypeError: 'tuple' object does not support item assignment

In [ ]:
# set is unorder 
sett = {1,2,3,45,7}
type(sett)

set

In [ ]:
sett[1]

TypeError: 'set' object is not subscriptable

In [ ]:
import datetime
waqat = datetime.datetime.now()
waqat

datetime.datetime(2022, 12, 4, 18, 54, 10, 309272)

In [ ]:
name = input("enter the name")
print(name)

Danish

In [ ]:
age = input("enter your age")
print(age)

87

In [ ]:
type(age)

str

In [ ]:
age = int(age)
type(age)

int

In [ ]:
height = float(input("Enter height"))
weight = float(input("enter the weight"))

In [ ]:
def bmi(height,weight):
    bm = weight/(height/100)**2
    return bm

In [ ]:
import pandas as pd

In [ ]:
height = float(input("Enter height"))
weight = float(input("enter the weight"))
bmi(height,weight)

76.17728531855956

In [ ]:
import seaborn as sns

In [ ]:
import matplotlib.pyplot as plt